.social {
    width: 62px;
    height: 62px;
    margin-top: 0px;
    margin-right: 5px;
}

.social:last-child {
    margin-right: 0;
}

.auth-image {
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}