* {
    box-sizing: border-box;
}

body {
    background: url("../images/skyscraper.png");
}

.thumbnail {
    background: rgba(150, 226, 8, 0.992);
    border: 0px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail h3 {
    background: rgba(34,34,34,.8);
    color: grey;
    text-align: center;
    position: absolute;
    bottom: 30px;
    padding: 15px;
    width: 90%;
    line-height: 20px;
}

#main-section {
    margin: 40px auto;
    /* margin-top: 40px; */
    background: rgba(150, 226, 8, 0.992);
    border: 1px solid rgb(1, 7, 2);
}

#sidebar {
    margin: 40px auto;
    background: rgba(150, 226, 8, 0.992);
    border: 1px solid rgb(1, 7, 2);
}

#panel-heading {
    background:#222222;
    color: grey;
}

#footer {
    margin-top: 40px;
    line-height:40px;
}

#footer p {
    text-align: center;
    color: grey;
}

.center-block {
    max-width: 80px;
}

#last-img {
    margin-right: 15px;
}